<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Voting Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <style>
        .navbar-nav {
            margin-left: auto;
        }
    </style>
	
<script type="text/javascript">
		function addOption() {
			var optionsContainer = document.getElementById('optionsContainer');
			var input = document.createElement('input');
			input.type= 'text';
			input.name= 'options';
			input.className= 'form-control mt-2';
			input.required=true;
			optionsContainer.appendChild(input);
		}
		</script>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Poll System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav navbar-nav navbar-right">
				

				<li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/profile}">Profile</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/logout}"> Logout</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/poll/new}">Create
						Poll</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 class="mt-4 mb-3">Available Polls</h1>
		<ul class="list-group">
			<th:block th:if="${not #lists.isEmpty(polls)}">
				<li th:each="poll: ${polls}" class="list-group-item">
					<h5 th:text="${poll.question}"></h5>
					<div class="card-body">
						<form th:action="@{/vote/{id}}" method="post">
							<!-- <input type="hidden" name="pollId" th:value="${poll.id}"> -->
							<!-- 							<div class="form-group">
 -->
							<div th:each="option: ${poll.optionList}">
								<label> <input type="radio" th:value="${option.id}"
									name="optionId" th:id="'option-' + ${option.id}" />
									<span th:text="${option.choice_text}"></span>
								</label> <br />
							</div>


							<!-- <select id="options"
											name="optionId" class="form-control">
											<option th:each="option: ${poll.optionList}"
												th:value="${option.id}" th:text="${option.choice_text}"></option>

										</select> -->

							<!-- </div> -->
							<button type="submit" class="btn btn-primary"
								th:href="@{/vote/{id}(id=${poll.id})}">Vote</button>
						</form>
					</div>

					<div class="row">
					
						<div class="col-sm-2 mt-2">
							<a th:href="@{/poll/{id}/results(id=${poll.id})}"
								class="btn btn-success">View Results</a>
						</div>
						<div class="col-sm-2 mt-2">
							<a th:href="@{/poll/{id}/delete(id=${poll.id})}"
								class="btn btn-danger">Delete poll</a>
						</div>
						
					</div>
				</li>
			</th:block>
			<th:block th:if="${#lists.isEmpty(polls)}">
				<li class="list-group-item">No Polls available</li>
			</th:block>
		</ul>

	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>